{{> header}}

<div class="container p-5">

    <!-- 수정삭제버튼 -->
    {{#model.isOwner}}
    <div class="d-flex justify-content-end">
        <a href="/boards/{{model.id}}/update-form" class="btn btn-secondary me-1">수정</a>
        <form action="/boards/{{model.id}}/delete" method="post">
            <button class="btn btn-outline-secondary">삭제</button>
        </form>
    </div>
    {{/model.isOwner}}


    <!-- 게시글내용 -->
    <div>
        <h2><b>{{model.title}}</b></h2>
        <hr />
        <div class="d-flex justify-content-end">
            작성자 : {{model.username}}
        </div>
        <div class="m-4 p-2" id="content">
             {{& model.content}}
        </div>
    </div>

    <!-- 댓글 -->
    <div class="card mt-3">
        <!-- 댓글등록 -->
            <div class="card-body">
                <form action="/replies/save" method="post">
                    <input type= "hidden" name = "boardId" value="{{model.id}}"/>
                    <textarea id = "comment" class="form-control" rows="2" name="comment"></textarea>
                    <div class="d-flex justify-content-end">
                    {{#sessionUser}}
                        <button class="btn btn-secondary mt-1">                        
                            댓글등록    
                        </button>
                    {{/sessionUser}}

                    </div>
                </form>
            </div>

        <!-- 댓글목록 -->
        <div class="card-footer">
            <b>댓글리스트</b>
        </div>
        <div class="list-group">
            <!-- 댓글아이템 -->
            {{#model.replies}}
                <div class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="d-flex">
                        <div class="px-1 me-1 bg-secondary text-white rounded">{{replyUsername}}</div>
                        <div>{{comment}}</div>
                    </div>
                    {{#isReplyOwner}}
                        <form action="/replies/{{id}}/delete?boardId={{model.id}}" method="post">
                            <button class="btn">🗑</button>
                        </form>
                    {{/isReplyOwner}}
                </div>
            {{/model.replies}}
        </div>
    </div>
</div>
<script>
{{^sessionUser}}
  const commentTextarea = document.querySelector("#comment");
  if (commentTextarea) {
    commentTextarea.addEventListener("focus", () => {
      alert("로그인하세요");
      commentTextarea.blur();
    });
  }
{{/sessionUser}}
</script>





</body>
</html>