.yt-wrap {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* 16:9 */
    margin: 8px 0;
  }
  
  .yt-iframe {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
  